<div class="owner-main-container">
  <div class="w-11/12 mx-auto">
		<div class="owner-title">
			<h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">訂單管理</h1>
			<div class="w-1/3 mx-4 mr-auto">
				<%= render "shared/flash" %>
			</div>
			<div class="flex flex-wrap items-center justify-between flex-grow font-semibold lg:justify-end text-primary-300">
				<span class="flex items-center">已出售:
					<span class="ml-2 text-4xl text-warning-200">
						$ <%= @orders.map{ |o| o.price }.sum %>
					</span>
				</span>
			</div>
		</div>
		<div class="owner-table-container">
			<table class="mt-6 overflow-hidden rounded-md shadow-md owner-table">
				<thead class="owner-thead">
					<tr>
						<th class="text-left owner-text">訂單編號</th>
						<th class="text-center owner-text">購買課程</th>
						<th class="text-center owner-text">購課學生</th>
						<th class="text-center owner-text">購買價格</th>
						<th class="text-center owner-text">購買時間</th>
						<th class="text-center owner-text">到期時間</th>
					</tr>
				</thead>
				<tbody class="owner-tbody">
					<% @orders.each do |order| %>
						<tr>
							<td class="text-center owner-text text-primary-500">
								<div class="flex items-center">
									<div class="mr-2">
										<span class="text-sm text-primary">
											<%= order.slug %>
										</span>
									</div>
								</div>
							</td>
							<td class="px-6 py-6 text-center">
								<div class="flex items-center justify-center">
									<span><%= order.course.title %></span>
								</div>
							</td>
							<td class="px-6 py-6 text-center">
								<div class="flex items-center justify-center">
									<span><%= order.user.username %></span>
								</div>
							</td>
							<td class="px-6 py-6 text-center">
								<div class="flex items-center justify-center">
									<span><%= order.price.zero? ? "贈送" : "$#{order.price}" %></span>
								</div>
							</td>
							<td class="px-6 py-6 text-center">
								<div class="flex items-center justify-center">
									<span><%= order.created_at.strftime("%Y/%m/%d")  %></span>
								</div>
							</td>
							<td class="px-6 py-6 text-center">
								<div class="flex items-center justify-center">
									<span><%= order.order_expiration_day %></span>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>