<div class="p-4 mx-auto md:w-1/2">
  <h1 class="mt-12 mb-8 text-4xl text-center text-primary-300">購買資訊</h1>
  <%= render "shared/flash" if flash %>
  <%=form_with(model: @order, url: course_orders_path, method: "post") do |form| %>

    <div class="w-full course-card-image">
      <div>此課程沒有圖片</div>
    </div>
    <div class="flex py-4">
      <span class="ml-8 text-primary-300">購買課程</span><span class="ml-auto mr-8"><%= @course.title %></span>
    </div>
    <div class="flex py-4">
      <span class="ml-8 text-primary-300">購買金額</span><span class="ml-auto mr-8">$ <%= @course.price %></span>
    </div>
    <%= form.submit "確認付款", class: "bg-warning-200 text-white border-warning-200 focus:border-warning-100 hover:bg-warning-100 hover:border-warning-100 hover:cursor-pointer" %>
  <% end %>
</div>
