<div class="flex w-full px-4 py-4 sm:w-1/2 lg:w-1/3 course-card">
  <div class="w-full course-card-image">
      <div>此課程沒有圖片</div>
  </div>
  <div class="p-6 course-card-main">
    <h2 class="mb-6 text-2xl font-bold text-center"><%= course.title %></h2>
    <p><%= course.content %></p>
  </div>
  <div class="flex items-center justify-between p-3">
    <div class="flex items-center">
      <span class="text-sm">講師：  <%= course.user.username %></span>   
    </div>
    <span class="text-warning-100">
      售價：<%= course.price.zero? ? "Free" : "$ #{course.price}" %>
    </span>
    <button class=" text-primary-300 border p-2 border-primary-200 bg-blue-200 rounded-md course-card-hover">
      <%= link_to "購買", new_course_order_path(course) %>
    </button>
  </div>
</div>