<!DOCTYPE html>
<html>
  <head>
    <title>Teacherfly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-t  urbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex h-screen">
      <nav class="owner_sidebar" data-controller="sidebar-style">
        <%= render layout: "/owner/shared/sidebar" do %>
        <% end %>
      </nav>
      <main class="bg-gray-100 pt-14 md:pt-0 owner-main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>